@import "tailwindcss";

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@plugin "daisyui";
 
@plugin "daisyui/theme" {
  name: "smooth";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.017 320.058);
  --color-base-200: oklch(95% 0.037 318.852);
  --color-base-300: oklch(90% 0.076 319.62);
  --color-base-content: oklch(40% 0.17 325.612);
  --color-primary: oklch(79% 0.209 151.711);
  --color-primary-content: oklch(26% 0.065 152.934);
  --color-secondary: oklch(76% 0.177 163.223);
  --color-secondary-content: oklch(26% 0.051 172.552);
  --color-accent: oklch(84% 0.238 128.85);
  --color-accent-content: oklch(27% 0.072 132.109);
  --color-neutral: oklch(51% 0.253 323.949);
  --color-neutral-content: oklch(97% 0.017 320.058);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}

.bg-square {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.25rem;
}

.pattern-dots {
    background-image: radial-gradient(currentColor 1px, transparent 1px);
    background-size: 20px 20px;
}
